<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
<div class="jumbotron">
<h1>Welcome to my Django Book!</h1>
<h2>Following are the major options available:</h2>
<ul><h2>
    <li>admin/</li>
    <li>home/ for Task 1</li>
    <li>login/ for Task 2</li>
    <li>signup/ for Task 3</li>


</h2>
</ul>
    <h2>  **Please refer urls.py file for practice links! Thank you :) </h2>
</div></div>
</body>
</html>