<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{%static 'firstapp_css/login.css'%}" rel="stylesheet" type="text/css">


</head>
<body>


<form>
<div class="box">
<h1>{{name}}</h1>

<input type="username" name="username" placeholder="username" class="username" required/>

<input type="email" name="email" placeholder="email" class="email" required/>

<input type="address" name="address" placeholder="address" class="address" required/>

<input type="password" name="password" placeholder="password" class="password" required/>

    <a href="/welcome/"><div class="btn">Submit</div></a>


</div>

</form>


<img src="{%static 'firstapp/welcomeimage.png' %}" HEIGHT="300" width="300">
</body>
</html>